---
layout: none
---
<html>

<head>
    <title>
        KPOP Rankings
    </title>
    <style>
        body {
            background-color: rgb(42, 158, 129);
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .picture {

            max-width: 20%;
            
        }

        .newMember {

            position: absolute;
            left: 50vw;
        }

        #demo {

            position: absolute;
            width: 100%;
        }

        .new {
            padding: 2px;
        }

        #newname {
            font-size:25;
            position:fixed;
            left:60%;
            top:25%;
        }

        #grouplist{

            position:fixed;
            left:45%;
            font-size:30;
            width:100%;
        }

    </style>
</head>

<body>

    <nav>
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
            {{ item.name }}
          </a>
        {% endfor %}
    </nav>

    <form onsubmit="boop();return false">
        <label>
            Group Name:
        </label>
        <input type="text" id="groupname">
        <button onclick="boop()">Boop</button>
    </form>
    <ol id=demo></ol>

    

    <p id="newname"></p>

    <h2 id="grouplist"></h2>

    <script>

        boop();

        function update(xmlParam) {

            if (document.getElementById("newgroup").value === "" || document.getElementById("newname").value === "" || document.getElementById("newpic").value === "") {

                alert(`uh ho`);
                return;
            }

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {

                    var xml = this.responseXML;

                    newIdol = xml.createElement("idol");

                    nameNode = xml.createElement("name");
                    nameTextNode = xml.createTextNode(document.getElementById("newname").value);
                    nameNode.appendChild(nameTextNode);

                    groupNode = xml.createElement("group");
                    groupTextNode = xml.createTextNode(document.getElementById("newgroup").value);
                    groupNode.appendChild(groupTextNode);

                    picNode = xml.createElement("pic");
                    picTextNode = xml.createTextNode(document.getElementById("newpic").value);
                    picNode.appendChild(picTextNode);

                    newIdol.appendChild(nameNode);
                    newIdol.appendChild(groupNode);
                    newIdol.appendChild(picTextNode);

                    xml.getElementsByTagName("listings")[0].appendChild(newIdol);
                    alert(`added`);
                }
            };

            xhttp.open("GET", "/database.xml", true);
            xhttp.send();
        }

        function boop() {

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    func(this);
                }
            };

            xhttp.open("GET", "database.xml", true);
            xhttp.send();
        }

        
        function displayName(display, group){

            document.getElementById("newname").innerHTML = `Name: ${display} <br> Group: ${group}`;
        }

        function func(xml) {

            var display = [];
            var xmlDoc = xml.responseXML;
            var x = xmlDoc.getElementsByTagName("idol");
            var pic = "";
            var grouplist = new Set();

            for (let e of x) {
                
                grouplist.add(e.getElementsByTagName("group")[0].childNodes[0].nodeValue);
                if (document.getElementById("groupname").value === "" || e.getElementsByTagName("group")[0].childNodes[0].nodeValue.toUpperCase().includes(document.getElementById("groupname").value.toUpperCase())) {
                    display.push(`<li>${e.getElementsByTagName("name")[0].childNodes[0].nodeValue}</li>`);

                    if (e.getElementsByTagName("pic")[0] !== undefined) {
                        display.push(`<img onclick="displayName('${e.getElementsByTagName("name")[0].childNodes[0].nodeValue}', '${e.getElementsByTagName("group")[0].childNodes[0].nodeValue}')" class="picture" src="assets/images/${e.getElementsByTagName("pic")[0].childNodes[0].nodeValue}"></img>`);
                    }
                }
            }

            document.getElementById("demo").innerHTML = display.join("");

            var stringGroups = [];
            for(e of grouplist.values()){

                stringGroups.push(e);
            }

            document.getElementById("grouplist").innerHTML = "Groups in the database: " + stringGroups.join(", ");
        }

    </script>
</body>


</html>