.current {
    color: green;
  }
a:visited{

    color:rgb(124, 16, 119);
}

a{

    text-decoration: none;
}

body{

    background-color: rgba(60, 196, 250, 0.89);
}

.col img{

    width:30%;
    margin-left: 4px;

    float:left;
}

.butt{

    position:relative;
    margin:2px;
}